body {
	background-color: #f0be3e;
    padding: 5em;
}

a {
	color: black;
}

.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 100px;
} 

@keyframes spinAnimation {
    from {
        transform: rotateY(0deg); /* Initial rotation */
    }
    to {
        transform: rotateY(180deg); /* Rotate 360 degrees around the Y-axis */
    }
}
.dish {
    flex: 0 1 calc(33.333% - 20px); /* Adjust width to fit three items per row */
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    text-align: center; 
}

.dish img {
    width: 33.3%; /* Adjust image width to fill the container */
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition */
}

.dish img:hover {
    animation: spinAnimation 1s linear forwards; /* Apply the keyframe animation */
}

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 2em;
	border-radius: 50px;
    text-align: center;
    padding: 10px;
} */

.footer {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 2em;
	border-radius: 50px;
    text-align: center;
    padding: 10px;
}

.title {
    margin-top: 10px; /* Add margin between image and title */
}

.nav-container {
	text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
	padding: 1em;
	border: 1px solid black;
	border-radius: 50px;
	font-size: 2em;
	position: fixed;
	background: #fffff2;
}

nav a {
	display: inline-block;
	margin: 0.25em;
	text-decoration: none;
}

a.current {
	font-weight: bold;
}